@page
@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport"
        content="width=device-width" />
  <title>Index</title>
</head>
<body>
  <div>
    <a href="/react">React application</a>
  </div>
  <div>
    <a href="/angular">Angular application</a>
  </div>
</body>
</html>
